<div class="cart-container">
    <div class="product-cart-status">
        <h3 class="product-title">
            product.title
        </h3>
        <p class="product-price"><span>$&nbsp;</span>product.price</p>
        <div class="amount-buttons">
            <button>
                <mat-icon>add</mat-icon>
            </button>
            <span class="amount">amount</span>
            <button>
                <mat-icon>remove</mat-icon>
            </button>
        </div>
    </div>
    <div class="clear-cart-button">
        <button>
            <mat-icon>delete</mat-icon>
        </button>
    </div>   
</div>