<div class="cart-container">
    <div class="product-cart-status" *ngFor="let product of myCartList$ | async">
        <h3 class="product-title">
            {{ product.title }}
        </h3>
        <p class="product-price"><span>$&nbsp;</span>{{ product.price }}</p>
        <div class="amount-buttons">
            <button (click)="incQuant(product)">
                <mat-icon>add</mat-icon>
            </button>
            <span class="quantity">{{ product.quantity }}</span>
            <button (click)="decQuant(product)">
                <mat-icon>remove</mat-icon>
            </button>
        </div>
    </div>
    <div class="clear-cart-button">
        <button (click)="deleteProducts()">
            <mat-icon>delete</mat-icon>
        </button>
    </div>   
</div>