<div class="product container" *ngFor="let product of products">
    <div class="product-header">
        <h3 class="product-title">
            {{ product.title }}
        </h3>
    </div>
    <div class="product-body">
        <p class="product-description">
            {{ product.description }}
        </p>
        <p class="product-price"><span>$&nbsp;</span>{{ product.price }}</p>
    </div>
    <div class="product-footer">
        <button (click)="pushToCart(product)">
            <mat-icon>add_shopping_cart</mat-icon>
        </button>
    </div>
</div>